

section#wrapper {
				background-color: greenyellow;
				margin: 0 auto;
				width: 100%;

				}
/**/

h1				{
				font-weight: bold;
				font-family: helvetica, sans-serif;
				font-size: 55px;
				color: #fff;
				padding-top: 70px;
				padding-left: 40px;
				padding-bottom: 84px;
				margin-top: 122px;
				//margin: 20px auto;
				}


p#desc {
		color: #darkgrey;	
		font-family: helvetica, sans-serif;
		font-size: 30px;
		letter-spacing: 1px;
		line-height: 45px;
		max-width: 590px;
		padding-left: 40px;
		margin-top: 60px;

}


            }

body        {
                background-color:#f0f0f0;
                font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
            }
         
span.reference{
                position:fixed;
                left:10px;
                bottom:10px;
                font-size:11px;
              }


span.reference a{
                color:#666;
                text-decoration:none;
                text-transform: uppercase;
                text-shadow:0 1px 0 #fff;
                }

span.reference a:hover{
                      color:#ccc;
                      }
                    
.box h2         {
                text-transform: uppercase;
                color:#ccc;
                text-shadow:0 1px 0 #fff;
                }






/* Navigation bar */
  .mh_wrapper{
			  height: 40px;
			  line-height: 40px;
			  position:absolute;
			  top: 80px;
			  left: 0px;
			  font-family: "Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;
			  font-size:16px;
			  text-transform:uppercase;
			  background-color: #ff0000;
			  margin-top: 1px;
			 }

.mh_itemMain{
			  color:#f0f0f0;
			  z-index:10;
			  border:1px solid #222;
			  background-color:#222;
			  cursor:pointer;
			  text-align:left;
			  font-weight:bold;
			  text-indent:20px;
			  width:200px;
			  position:absolute;
			  top:0px;
			  left:0px;
			  text-shadow:1px 1px 1px #000;
			}


.mh_itemMain:hover{
				  color:#fff;
				  }
.mh_right{
		    width:40px;
		    height:40px;
		    position:absolute;
		    left:160px;
		    top:0px;
		    cursor:pointer;
		    border:1px solid #000;
		    background:#000 url(right.png) no-repeat center center;
		}


.mh_wrapper ul {
				  position: absolute;
				  left: 202px;
				  top: 0px;
				  padding-left: 20px;
				  padding-bottom: 20px;
				  height: 30px;
				  background-color: #C3C3C3;
				  width: auto;
	   			  height: auto;
				  line-height: 20px;
			    }


				
.mh_wrapper ul li a{
  text-decoration:none;
  cursor:pointer;
  display:block;
  float:left;
  margin:0px;
  text-indent:0px;
  padding:0px 10px 0px 3px;
  line-height:40px;
  height:40px;
  text-indent:10px;
  letter-spacing:1px;
  color:#ddd;
  background-color:#525252;
  text-shadow:1px 1px 1px #000;
  border:1px solid #333;
  border-left:none;
}

.mh_wrapper ul li a.hover{
  background:#333;
  color:#fff;
  -moz-box-shadow:0px 0px 3px #000 inset;
  -webkit-box-shadow:0px 0px 3px #000 inset;
  box-shadow:0px 0px 3px #000 inset;
}




li.album-idealism, li.album-mickey-mouse-operation, 
li.album-black-sands-bonobo, li.album-endtroducing-djshadow, li.album-black-sands-bonobo, li.album-destroyed-moby
					{
					color: #darkgrey;
					padding-top: 20px;
					padding-bottom: 5px;
					}

li#artistname {
				font-size: 13px;
				font-weight: bold;
			  }

								li#albumYear {
												font-size: 13px;
											 }

																	li#albumName {
																				  font-size: 13px;
																				  letter-spacing: 2px;
																				 }
